{% extends "base.html" %}
{% block content %}

<script>
    $(document).ready(function(){
        $("#changePasswordForm").hide();

        $("#changePasswordButton").click(function(){
            $("#changePasswordForm").show();
        });

        $("#changeTeamForm").hide();

        $("#changeTeamButton").click(function(){
            $("#changeTeamForm").show();
        });
    });
</script>

<style>
    .accDiv {
        width: 600px;
        margin: auto;
    }

</style>

<div class="accDiv">
    <h1>My Account Page</h1>
    <h4>First Name: {{user.firstname}}</h4>
    <h4>Second Name: {{user.surname}}</h4>
    <h4>Email: {{user.email}}</h4>
    <h4>My Team: {{team.Name}} <a id="changeTeamButton" class="btn btn-secondary btn-sm">Change</a></h4>
    <p>
        <a class="btn btn-dark" href="/logout">Sign Out</a>
        <a id="changePasswordButton" class="btn btn-secondary">Change Password</a>
    </p>

    <div id="changePasswordForm">
        <h1>Change Password</h1>
        <br>
        <form action="" method="post" name="changePassword">
            {{ form.hidden_tag() }}
      
            <h4>Password</h4>
            {{ form.password(class_='form-control') }}
            {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            <h4>Confirm Password</h4>
            {{ form.cPassword(class_='form-control') }}
            {% for error in form.cPassword.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            <div>
                <p><input type="submit" class="btn btn-primary" value="Submit"></p>
            </div>
        </form>
    </div>
    <br><br>
    <div id="changeTeamForm">
        <h2>Change Team</h2>
        <br>
        <form action="" method="post" name="changePassword">
            {{ formT.hidden_tag() }}
      
            <h4>Team</h4>
            {{ formT.team(class_='form-control') }}
            {% for error in formT.team.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            <br>
            <div>
                <p><input type="submit" class="btn btn-primary" value="Submit"></p>
            </div>
        </form>
      </div>
</div>
{% endblock %}