{% extends "base.html" %}
{% block content %}


<div class="logDiv">
  <h1>Add Results</h1>
  <br>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}

      <h4>Firstname</h4>
      {{ form.firstname(class_='form-control') }}
      {% for error in form.firstname.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Lastname</h4>
      {{ form.surname(class_='form-control') }}
      {% for error in form.surname.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Team</h4>
      {{ form.team(class_='form-control') }}
      {% for error in form.team.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Age</h4>
      {{ form.age(class_='form-control') }}
      {% for error in form.age.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Positions</h4>
      {{ form.positions(class_='form-control') }}
      {% for error in form.positions.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}
      <br>
      <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
{% endblock %}