{% extends "base.html" %}
{% block content %}


<div class="logDiv">
  <h1>Add Results</h1>
  <br>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}

      <h4>Team A</h4>
      {{ form.teamA(class_='form-control') }}
      {% for error in form.teamA.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Team B</h4>
      {{ form.teamB(class_='form-control') }}
      {% for error in form.teamB.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>A Score</h4>
      {{ form.aScore(class_='form-control') }}
      {% for error in form.aScore.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>B Score</h4>
      {{ form.bScore(class_='form-control') }}
      {% for error in form.bScore.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Date</h4>
      {{ form.date(class_='form-control') }}
      {% for error in form.date.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}
      <br>
      <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
{% endblock %}