<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
        <script src="geoLoc.js"></script>

        <style>
          .bodyDiv {
            margin: auto;
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
          }

          @media (min-width: 700px)
          {.logDiv {
            width: 600px;
            margin: auto;
          }}
          .logDiv {
            margin-top: 5%;
          }
          .logDiv h4{
            margin-top: 15px;
          }
        </style>
        
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>No title</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Qatar22Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
       
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/results">Results</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams">View Teams</a></li>
                <li class="nav-item"><a class="nav-link" href="/myTeam">My Team</a></li>
              </ul>

              <button class="nav-item btn btn-light btn-small"><a class="nav-link" href="/login">My Account</a></button>
            </div>
        </nav>

        <br>
        <div class="bodyDiv">
          {% block content %}{% endblock %}
          {% with messages = get_flashed_messages(category_filter=['error']) %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger">
                   {{ message }}
              </div>
              {% endfor %}
  
            {% endif %}
          {% endwith %}

          {% with messages = get_flashed_messages(category_filter=['success']) %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success">
                   {{ message }}
              </div>
              {% endfor %}
  
            {% endif %}
          {% endwith %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    </body>
</html>