{% extends "base.html" %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  .botBor {
    border-bottom: 2px solid;
  }

  .topBor {
    border-top: 2px solid;
  }

  .rightBor {
    border-right: 2px solid;
  }

  .leftBor {
    border-left: 2px solid;
  }

  td, th {
    text-align: cener;
    padding: 8px;
  }

  h1 {
    margin-top: 5%;
    margin-bottom: 2.5%;
  }

  .welcome {
    margin-left: 15%;
    margin-right:15%;
  }
</style>

<div class="welcome">
  <h1>Welcome</h1>
  <p>Qatar22Tracker is a fan page for football enthiasts to track their teams progress in the latest world cup tournament. This website allows you enter match results, players and track their progress. When you sign up you will be asked to select a team to support, here you can easily find your teams information</p>
</div>
<br><br>
<h1>Qatar 2022 Stadiums</h1>
<div class="card">
  <div id="map" style="width:100%;height:400px;"></div>
</div>

<table>
  <th>Stadium Name</th>
  <th>Capacity</th>
  <th>Games Planned</th>
  <tr>
    <td>Lusail Stadium</td>
    <td>80,000</td>
    <td>5x Group, 1x Round of 16, 1x Quater Final, 1x Semi Final, Final</td>
  </tr>
  <tr>
    <td>Al Bayt Stadium</td>
    <td>60,000</td>
    <td>5x Group, 1x Round of 16, 1x Quater Final, 1x Semi Final</td>
  </tr>
  <tr>
    <td>Al Janoub Stadium</td>
    <td>40,000</td>
    <td>5x Group, 1x Round of 16</td>
  </tr>
  <tr>
    <td>Ahmad Bin Ali Stadium</td>
    <td>40,000</td>
    <td>5x Group, 1x Round of 16</td>
  </tr>
  <tr>
    <td>Khalifa International Stadium</td>
    <td>40,000</td>
    <td>5x Group, 1x Round of 16, Match for third place</td>
  </tr>
  <tr>
    <td>Education City Stadium</td>
    <td>40,000</td>
    <td>5x Group, 1x Round of 16, 1x Quater Final</td>
  </tr>
  <tr>
    <td>Stadium 974</td>
    <td>40,000</td>
    <td>5x Group, 1x Round of 16</td>
  </tr>
  <tr>
    <td>Al Thumama Stadium</td>
    <td>40,000</td>
    <td>5x Group, 1x Round of 16, 1x Quater Final</td>
  </tr>
</table>


<script>
function myMap() {
  var map = new google.maps.Map(document.getElementById('map'), {

    zoom: 9 ,

    center: new google.maps.LatLng(25.2854, 51.5310),
  });

  markers(map);
}

function markers(map){
  const lusail = new google.maps.Marker({
    position: {lat: 25.420738, lng: 51.490154 },
    map: map,
    title: 'Lusail Stadium',
    animation: google.maps.Animation.DROP,
  });

  const alBayt = new google.maps.Marker({
    position: {lat: 25.652275, lng: 51.487083 },
    map: map,
    title: 'Al Bayt Stadium',
    animation: google.maps.Animation.DROP,
  });

  const eductationCit = new google.maps.Marker({
    position: {lat: 	25.310898, lng: 51.424549 },
    map: map,
    title: 'Education City Stadium',
    animation: google.maps.Animation.DROP,
  });

  const alJanoub = new google.maps.Marker({
    position: {lat: 	25.1598, lng: 51.5743 },
    map: map,
    title: 'Al Janoub Stadium',
    animation: google.maps.Animation.DROP,
  });

  const AhmedBinAli = new google.maps.Marker({
    position: {lat: 	25.3296, lng: 51.3424 },
    map: map,
    title: 'Ahmed Bin Ali Stadium',
    animation: google.maps.Animation.DROP,
  });

  const khalifaInt = new google.maps.Marker({
    position: {lat: 	25.2582, lng: 51.4422 },
    map: map,
    title: 'Khalifa International Stadium',
    animation: google.maps.Animation.DROP,
  });

  const stad974 = new google.maps.Marker({
    position: {lat: 	25.2889, lng: 51.5666 },
    map: map,
    title: 'Stadium 974',
    animation: google.maps.Animation.DROP,
  });

  const alThum = new google.maps.Marker({
    position: {lat: 	25.2353, lng: 51.5324 },
    map: map,
    title: 'Al Thumama Stadium',
    animation: google.maps.Animation.DROP,
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?AIzaSyBPsePJPxdFJIq2agmOwjOyyVIyzNlU_GM&callback=myMap"></script>


<h1>Knockout Bracket</h1>  
<table>
  <tr>
    <th colspan="2">Round of 16</th>
    <th colspan="2">Quater Finals</th>
    <th colspan="2">Semifinals</th>
    <th colspan="2">Finals</th>
  </tr>
  <tr><td>{{matches[0].teamA}}</td><td>{{matches[0].aScore}}</td></tr>
  <tr><td class="topBor">{{matches[0].teamB}}</td><td class="topBor rightBor">{{matches[0].bScore}}</td></tr>
  <tr><td></td><td></td><td class="leftBor">{{matches[8].teamA}}</td><td>{{matches[8].aScore}}</td></tr>
  <tr><td></td><td></td><td class="leftBor topBor">{{matches[8].teamB}}</td><td class="topBor rightBor">{{matches[8].bScore}}</td></tr>
  <tr><td class="botBor">{{matches[1].teamA}}</td><td class="botBor rightBor">{{matches[1].aScore}}</td><td></td><td class="rightBor"></td></tr>
  <tr><td>{{matches[1].teamB}}</td><td>{{matches[1].bScore}}</td><td></td><td class="rightBor"></td></tr>
  <tr><td></td><td></td><td></td><td></td><td class="leftBor">{{matches[12].teamA}}</td><td>{{matches[12].aScore}}</td></tr>
  <tr><td></td><td></td><td></td><td></td><td class="leftBor topBor">{{matches[12].teamB}}</td><td class="topBor rightBor">{{matches[12].bScore}}</td></tr>
  <tr><td class="botBor">{{matches[2].teamA}}</td><td>{{matches[2].aScore}}</td><td></td><td class="rightBor"></td><td></td><td class="rightBor"></td></tr>
  <tr><td>{{matches[2].teamB}}</td><td class="topBor rightBor">{{matches[2].bScore}}</td><td></td><td class="rightBor"></td><td></td><td class="rightBor"></td></tr>
  <tr><td></td><td></td><td class="botBor leftBor">{{matches[9].teamA}}</td><td class="botBor rightBor">{{matches[9].aScore}}</td><td></td><td class="rightBor"></td></tr>
  <tr><td></td><td></td><td class="leftBor">{{matches[9].teamB}}</td><td>{{matches[9].bScore}}</td><td></td><td class="rightBor"></td></tr>
  <tr><td class="botBor">{{matches[3].teamA}}</td><td class="botBor rightBor">{{matches[3].aScore}}</td><td></td><td></td><td></td><td class="rightBor"></td></tr>
  <tr><td>{{matches[3].teamB}}</td><td>{{matches[3].bScore}}</td><td></td><td></td><td></td><td class="rightBor"></td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td class="leftBor botBor">{{matches[14].teamA}}</td><td class="botBor">{{matches[14].aScore}}</td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td class="leftBor">{{matches[14].teamB}}</td><td>{{matches[14].bScore}}</td></tr>
  <tr><td class="botBor">{{matches[4].teamA}}</td><td>{{matches[4].aScore}}</td><td></td><td></td><td></td><td class="rightBor"></td></tr>
  <tr><td>{{matches[4].teamB}}</td><td class="topBor rightBor">{{matches[4].bScore}}</td><td></td><td></td><td></td><td class="rightBor"></td></tr>
  <tr><td></td><td></td><td class="leftBor">{{matches[10].teamA}}</td><td>{{matches[10].aScore}}</td><td></td><td class="rightBor"></td></tr>
  <tr><td></td><td></td><td class="leftBor topBor">{{matches[10].teamB}}</td><td class="topBor rightBor">{{matches[10].bScore}}</td><td></td><td class="rightBor"></td></tr>
  <tr><td class="botBor">{{matches[5].teamA}}</td><td class="botBor rightBor">{{matches[5].aScore}}</td><td></td><td class="rightBor"></td><td></td><td class="rightBor"></td></tr>
  <tr><td>{{matches[5].teamB}}</td><td>{{matches[5].bScore}}</td><td></td><td class="rightBor"></td><td></td><td class="rightBor"></td></tr>
  <tr><td></td><td></td><td></td><td></td><td class="leftBor botBor">{{matches[13].teamA}}</td><td class="botBor rightBor">{{matches[13].aScore}}</td></tr>
  <tr><td></td><td></td><td></td><td></td><td class="leftBor">{{matches[13].teamB}}</td><td>{{matches[13].bScore}}</td></tr>
  <tr><td class="botBor">{{matches[6].teamA}}</td><td>{{matches[6].aScore}}</td><td></td><td class="rightBor"></td></tr>
  <tr><td>{{matches[6].teamB}}</td><td class="topBor rightBor">{{matches[6].bScore}}</td><td></td><td class="rightBor"></td></tr>
  <tr><td></td><td></td><td class="botBor leftBor">{{matches[11].teamA}}</td><td class="botBor rightBor">{{matches[11].aScore}}</td></tr>
  <tr><td></td><td></td><td class="leftBor">{{matches[11].teamB}}</td><td>{{matches[11].bScore}}</td></tr>
  <tr><td class="botBor">{{matches[7].teamA}}</td><td class="botBor rightBor">{{matches[7].aScore}}</td></tr>
  <tr><td>{{matches[7].teamB}}</td><td>{{matches[7].bScore}}</td></tr>
</table>
{% endblock %}