{% extends "base.html" %}
{% block content %}

<style>
  .logInA {
    color: white;
    text-decoration: none;
  }

  .logInA:hover {
    text-decoration: none;
    color: white;
  }

  .inlineDiv {
    display: inline-block;
  }

</style>

<div class="logDiv">
  <h1>Log In</h1>
  <br>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}

      <h4>Email</h4>
      {{ form.email(class_='form-control') }}
      {% for error in form.email.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Password</h4>
      {{ form.password(class_='form-control') }}
      {% for error in form.password.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}
      <br>
      <div>
        <p><input type="submit" class="btn btn-primary" value="Log In">
          <button class="btn btn-dark"><a class="logInA" href="/signup">Sign Up</a></button></p>
        
      </div>
  </form>
</div>
{% endblock %}