{% extends "base.html" %}
{% block content %}

<style>
  .matchDiv {
    padding: 5%;
  }
  .matchDiv h1{
    padding-bottom: 1.25%;
  }
</style>

<h1>{{team}} Fan Page</h1>
<a class="btn btn-primary btn-sm" href="/addResult">Add Results</a>
<a class="btn btn-primary btn-sm" href="/addPlayer">Add Players</a>
<br><br>


<div class="matchDiv">
<h1>Match History</h1>
{% if matches %}
  {% for match in matches %}
  <h4><b>{{match.teamA}} vs {{match.teamB}}</b></h4>
  <p>{{match.aScore}} vs {{match.bScore}}</p>

  {% endfor %}
{% else %}
    <p>Sorry, We don't have any match data on your team</p>
{% endif %}
</div>

<h2>Players</h2>
<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Positions</th>
      </tr>
    </thead>
    <tbody>


    {% for player in players %}
    <tr>
      <td>{{player.firstname}}</td>
      <td>{{player.surname}}</td>
      <td>{{player.age}}</td>
      <td>
        {% for position in player.positions %}
        {{position  }}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}