{% extends "base.html" %}
{% block content %}

<h1>{{team}} Players Page</h1>

<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Positions</th>
      </tr>
    </thead>
    <tbody>


    {% for player in players %}
    <tr>
      <td>{{player.firstname}}</td>
      <td>{{player.surname}}</td>
      <td>{{player.age}}</td>
      <td>
        {% for position in player.positions %}
        {{position  }}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}