{% extends "base.html" %}
{% block content %}

<h1>Results Page</h1>

<a class="nav-link" href="/addResult">Add Results</a>

<table class="table">
    <thead>
      <tr>
        <th>Team A</th>
        <th>Team B</th>
        <th>Score</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>

    {% for m in matches %}
    <tr>
        <td>{{m.teamA}}</td>
        <td>{{m.teamB}}</td>
        <td>{{m.aScore}} - {{m.bScore}}</td>
        <td>{{dates[m.matchId]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}