{% extends "base.html" %}
{% block content %}
<div class="logDiv">
  <h1>Sign Up</h1>
  <br>
  <form action="" method="post" name="signup">
      {{ form.hidden_tag() }}

      <h4>First Name</h4>
      {{ form.firstname(class_='form-control') }}
      {% for error in form.firstname.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Last Name</h4>
      {{ form.surname(class_='form-control') }}
      {% for error in form.surname.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Email</h4>
      {{ form.email(class_='form-control') }}
      {% for error in form.email.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Team</h4>
      {{ form.team(class_='form-control') }}
      {% for error in form.team.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Password</h4>
      {{ form.password(class_='form-control') }}
      {% for error in form.password.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}

      <h4>Confirm Password</h4>
      {{ form.cPassword(class_='form-control') }}
      {% for error in form.cPassword.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endfor %}
      <br>
      <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
</div>
{% endblock %}