{% extends "base.html" %}
{% block content %}

<h1>Teams Page</h1>
<a class="nav-lin" href="/addPlayer">Add Players</a>
<br><br>

<table class="table">
    <thead>
      <tr>
        <th>Teams</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for t in teams %}
    <tr>
      <td>{{t}}</td>
      <td><a href="/teams/{{t.teamId}}/players"><button type="button" class="btn btn-primary">View Players</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}